:root {
  --dkMagenta: hsl(300, 43%, 22%);
  --sfPink: hsl(333, 80%, 67%);
  --dkGrayMagenta: hsl(303, 10%, 53%);
  --ltGrayMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  --fontSpartan: "Spartan", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontSpartan);
  font-size: 15px;
  background-color: var(--white);
  background-image: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 124% -1%, 166% 51%;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
}
.topSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.text {
  max-width: 360px;
}

.text h1 {
  color: var(--dkMagenta);
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
}

.text p {
  font-size: 0.84rem;
  text-align: center;
  line-height: 1.4;
  color: var(--dkGrayMagenta);
}
.ratings {
  font-size: 0.5rem;
  font-weight: 700;
  text-align: center;
}
.single__rating {
  position: relative;
  display: block;
  background-color: hsla(333, 80%, 67%, 0.1);
  color: var(--dkMagenta);
  width: 17rem;
  height: 4rem;
  margin-top: 20px;
}

.single__rating img {
  margin-right: -0.25rem;
  padding-top: 1rem;
  transform: scale(0.6);
}
.single__rating img:last-child {
  margin-right: 0px;
}

.single__rating p {
  display: block;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-basis: 100%;
}
.cards__single {
  display: flex;
  flex-wrap: wrap;
  width: 14rem;
  height: 12rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: var(--dkMagenta);
  color: var(--white);
}
.cards__single img {
  flex: 0 0 50%;
  transform: scale(0.4);
  border-radius: 50%;
  margin-top: -1rem;
}
.cards__single h2 {
  margin-top: 2.5rem;
  margin-left: -1.2rem;
  line-height: 1.6;
  font-size: 0.5rem;
}
.cards__single h2 span {
  display: block;
  font-size: 0.5rem;
  color: hsla(333, 80%, 67%, 0.5);
}
.cards__single p {
  font-size: 0.58rem;
  margin-top: -2.5rem;
  padding: 1rem;
  line-height: 2;
}

@media (min-width: 50em) {
  body {
    background-image: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: -21% 0%, 152% -210%;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
  }
  .topSection {
    flex-direction: row;
  }
  .text {
    width: 24rem;
    flex: 25%;
  }
  .text h1 {
    color: var(--dkMagenta);
    font-size: 2.2rem;
    text-align: left;
    margin: 0;
    padding-bottom: 1rem;
  }
  .text p {
    font-size: 0.75rem;
    text-align: left;
  }

  .ratings {
    flex: 50%;
    width: 100%;
    display: inline-flex;
    font-size: 0.5rem;
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;
    margin-right: -5rem;
    padding-right: 7rem;
  }

  .single__rating {
    width: 25rem;
    margin-top: 0px;
  }

  .single__rating img {
    vertical-align: middle;
  }
  .single__rating p {
    vertical-align: middle;
    display: inline-flex;
    margin-left: 15px;
    padding-top: 1rem;
  }
  .single__rating:nth-child(2) {
    margin-top: 75px;
    margin-left: -350px;
  }
  .single__rating:nth-child(3) {
    margin-top: 150px;
    margin-left: -345px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-basis: 100%;
    flex-wrap: wrap;
  }

  .cards__single {
    width: 17rem;
    margin-right: 39px;
  }

  .cards__single img {
    flex: 0 0 50%;
    transform: scale(0.4);
    border-radius: 50%;
    margin-top: -1rem;
  }
  .cards__single h2 {
    margin-top: -1rem;
    margin-top: 2.5rem;
    margin-left: -1.2rem;
    line-height: 1.6;
    font-size: 0.5rem;
  }
  .cards__single h2 span {
    display: block;
    font-size: 0.5rem;
    color: hsla(333, 80%, 67%, 0.5);
  }
  .cards__single p {
    font-size: 0.675rem;
    margin-top: -2.5rem;
    padding: 1rem;
    line-height: 2;
  }
  .cards__single:nth-child(2) {
    margin-top: 20px;
  }
  .cards__single:nth-child(3) {
    margin-top: 40px;
  }
}
@media (min-width: 791px) and (max-width: 985px) {
  .container {
    display: block;
  }
  .cards__single:nth-child(2) {
    margin-top: 0px;
  }
  .cards__single:nth-child(3) {
    margin-top: 0px;
  }
}
